/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.utmp/
.vs/
*.csproj
*.sln
.DS_Store
Thumbs.db
*.suo
*.tmp
*.user
*.userprefs
.idea/
.plastic/
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
